<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394994019527-it9reae5o34bn91md81ubhvdj41uhqg2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394994019527-it9reae5o34bn91md81ubhvdj41uhqg2</string>
	<key>API_KEY</key>
	<string>AIzaSyAxSXW8KCsvSY4c69Yast9_m9q8hObxb_I</string>
	<key>GCM_SENDER_ID</key>
	<string>394994019527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>polestar.FirebaseCrashlyticAppDemo</string>
	<key>PROJECT_ID</key>
	<string>fir-crashlyticappdemo</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-crashlyticappdemo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:394994019527:ios:23400b45a44e074a06a2e2</string>
	<key>DATABASE_URL</key>
	<string>https://fir-crashlyticappdemo.firebaseio.com</string>
</dict>
</plist>
